
body {
font-family: verdana, arial, sans-serif;
padding:20px;
margin:2px;
}


h1 {
font-size: 3em;
color:white;
padding:0;
margin:0;
text-align: center;
font-family: georgia, serif;
}

p {
  font-size: 1.2em;
  color:white;
  padding:20px;
  margin:10px;
  text-align: left;
  font-family: georgia, serif;

}

li {
  font-size: 1.2em;
  color:white;
  padding:5px;
  margin:5px;
  text-align: left;
  font-family: georgia, serif;

}


.details {
font-size: 1.2em:
color:gray;


}

img {
width:80%;
display: block;
margin: 50px auto;

}


div.everything {
padding: 30px 50px;
margin: 10px auto;
border:2px solid rgb(15, 70, 91);
background: black;
}



  img {
  width:70%;
  float: none;

  }


  div.everything {
  margin: 10px auto;
  width: 70%;
  max-width: 850px;
  padding:20px;
  overflow: auto;
  }



.contents ul {
  display: inline-block;
  border: 1px solid red;
}


.contents ul li {
  display: inline-block;
  list-style: none;
}

.contents ul li li {
display: block;

}


.TOC-Heading-2 a {
display: none;

}



@media only screen and (max-width: 720px) {

  img {
  width:100%;
  display: block;
  margin: 5px auto;
  }

  div.everything {
  margin: 10px auto;
  width: 90%;
  max-width: 100%;
  padding:0px;
  overflow: auto;
  border:none;
  }

  body {
    margin: 20px 6px;
    padding:0;
    background: black;
  }

}
